.wrapper .tarefa {
  min-height: 45px;
  line-height: 45px;
  margin: 0 5px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 15px;
  font-size: 20px;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.wrapper .icon {
  min-width: 50px;
  height: 50px;
  margin-left: 5px;
  font-size: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 3px;
  transition: all 0.3s ease;
  color: green;
}

.wrapper .tarefa.concluida{
  text-decoration: line-through;
}

